<div class="dashboard-container">
    <aside class="sidebar">
        <h2>Dashboard</h2>
        <nav class="sidebar-menu">
            <ul>
                <li id="toggle-form"><a href="#adicionar-tarefa"><i class="fas fa-plus-circle"></i> Adicionar Tarefa</a></li>
                <li id="toggle-lista"><a href="#minhas-tarefas"><i class="fas fa-tasks"></i> Minhas Tarefas</a></li>
                <li><a href="#estatisticas"><i class="fas fa-chart-line"></i> Estatísticas</a></li>
                <li><a href="#configuracoes"><i class="fas fa-cog"></i> Configurações</a></li>
            </ul>
        </nav>
    </aside>

    <main class="main-content">
        <section class="dashboard-cards">
            <div class="card total-tarefas">
                <h3>Total de Tarefas</h3>
                <p><%= tasks.length %></p>
            </div>
            <div class="card proximas-do-prazo">
                <h3>Tarefas Próximas do Prazo</h3>
                <p><%= tasks.filter(task => task.diasRestantes <= 3 && task.status === "pendente").length %></p>
            </div>
            <div class="card concluidas">
                <h3>Tarefas Concluídas</h3>
                <p><%= tasks.filter(task => task.status === "concluida").length %></p>
            </div>
        </section>        
        
        <section class="container-form-adicionar" id="container-form-adicionar">
            <form action="/" method="POST" class="form-tarefa">
                <h1>Adicionar Tarefa</h1>
                <label for="titulo">Título</label>
                <input type="text" name="titulo" id="titulo" placeholder="Título da tarefa" required>

                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" placeholder="Descrição da tarefa" required></textarea>

                <label for="data_conclusao">Data de Conclusão</label>
                <input type="date" name="data_vencimento" id="data_vencimento" required>

                <label for="prioridade">Prioridade</label>
                <select name="prioridade" id="prioridade" required>
                    <option value="alta">Alta</option>
                    <option value="media" selected>Média</option>
                    <option value="baixa">Baixa</option>
                </select>

                <label for="categoria">Categoria da Tarefa</label>
                <input type="text" name="categoria" id="categoria" placeholder="Categoria da tarefa" required>

                <button type="submit" class="btn adicionar">Adicionar tarefa</button>
            </form>
        </section>

        <section class="container-form-editar" id="container-form-editar" style="display: none;">
            <form method="POST" class="form-tarefa" id="form-edit" action="">
                <h1>Editar Tarefa</h1>
        
                <input type="hidden" name="id" id="id_edit">
        
                <label for="titulo">Título</label>
                <input type="text" name="titulo" id="titulo_edit" placeholder="Título da tarefa" required>
        
                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao_edit" placeholder="Descrição da tarefa" required></textarea>
        
                <label for="data_vencimento">Data de Conclusão</label>
                <input type="date" name="data_vencimento" id="data_vencimento_edit" required>
        
                <label for="prioridade">Prioridade</label>
                <select name="prioridade" id="prioridade_edit" required>
                    <option value="alta">Alta</option>
                    <option value="media" selected>Média</option>
                    <option value="baixa">Baixa</option>
                </select>
        
                <label for="categoria">Categoria da Tarefa</label>
                <input type="text" name="categoria" id="categoria_edit" placeholder="Categoria da tarefa" required>
        
                <button type="submit" class="btn adicionar">Salvar alterações</button>
            </form>
        </section>
             
        <section class="container-lista" id="container-lista">
            <ul class="lista-tarefas" id="lista-tarefas">
                <% if (tasks.length > 0) { %>
                    <% tasks.forEach(task => { %>
                        <li class="tarefa-item">
                            <div class="tarefa-info">
                                <h3><%= task.titulo %></h3>
                                <p><%= task.descricao %></p>
                                <p><small>Vencimento: <%= task.data_vencimento %></small></p>
                                <p><small>Prioridade: <%= task.prioridade %></small></p>
                                <p><small>Categoria: <%= task.categoria %></small></p>
                                <p><small>Dias Restantes: <span class="dias-restantes"><%= task.diasRestantes %></span></small></p>
    
                                <% if (task.status === "pendente") { %>
                                    <p style="color: crimson;"><small>Status: <%= task.status %></small></p>
                                <% } else { %>
                                    <p style="color: green;"><small>Status: <%= task.status %></small></p>
                                <% } %>                                
                            </div>
    
                            <form action="/tasks/atualizar/<%= task.id %>" method="POST" class="form-atualizar">
                                <input type="hidden" name="status" value="<%= task.status === 'pendente' ? 'concluida' : 'pendente' %>">
                                <button type="submit" class="btn-atualiza">
                                    <i class="fas fa-check"></i>
                                </button>
                            </form>
                            
                            <button class="btn-edit" data-id="<%= task.id %>" id="btn-edit-<%= task.id %>">
                                <i class="fas fa-pencil-alt"></i>
                            </button>                         
    
                            <form action="/tasks/excluir/<%= task.id %>" method="POST" class="form-excluir">
                                <button type="submit" class="btn-delete">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </li>
                    <% }) %>
                <% } else { %>
                    <p style="text-align: center;">Nenhuma tarefa encontrada.</p>
                <% } %>
            </ul>
        </section>
        <div class="copy">
            <p>&copy; 2024. Desenvolvido por <span>Andrezinrc</span></p>
        </div>
    </main> 
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    let cards = document.querySelector('.dashboard-cards');
    let formAdd = document.getElementById("container-form-adicionar");
    let formEdit = document.getElementById("container-form-editar");
    let toggleFormBtn = document.getElementById("toggle-form");
    let toggleLista = document.getElementById("toggle-lista");
    let toggleIcon = toggleFormBtn.querySelector('i');
    let containerLista = document.getElementById('container-lista');

    toggleFormBtn.addEventListener('click', () => {
        if (formAdd.style.display === "none" || formAdd.style.display === "") {
            formAdd.style.display = "block";
            formEdit.style.display = "none";
            toggleIcon.classList.remove('fa-chevron-down');
            toggleIcon.classList.add('fa-chevron-up');
        } else {
            formAdd.style.display = "none";
            toggleIcon.classList.remove('fa-chevron-up');
            toggleIcon.classList.add('fa-chevron-down');
        }
    });

    toggleLista.addEventListener('click', () => {
        if (containerLista.style.display === "none" || containerLista.style.display === "") {
            containerLista.style.display = "block";
            formAdd.style.display = "none";
            formEdit.style.display = "none";
            cards.style.display = "none";
        } else {
            containerLista.style.display = "block";
        }
    });

    const tasks = document.querySelectorAll('.tarefa-item');
    tasks.forEach(task => {
        const dataVencimento = new Date(task.querySelector('p small').textContent.split(': ')[1]);
        const hoje = new Date();
        const diffTime = dataVencimento - hoje;
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

        const diasRestantesElem = task.querySelector('.dias-restantes');
        diasRestantesElem.textContent = diffDays > 0 ? diffDays : '0';

        if (diffDays <= 0) {
            task.querySelector('.form-atualizar input[name="status"]').value = 'concluida';
            task.querySelector('.form-atualizar button').setAttribute('disabled', true);
            task.querySelector('.form-atualizar').style.display = 'none';
        }
    });

    const btnsEdit = document.querySelectorAll('.btn-edit');

    btnsEdit.forEach(btn => {
        btn.addEventListener('click', async function () {
            const taskId = this.getAttribute('data-id');

            try {
                const response = await fetch(`/${taskId}`);
                const data = await response.json();
                const task = data.task;
    
                console.log(task);
                
                document.getElementById('titulo_edit').value = task.titulo;
                document.getElementById('descricao_edit').value = task.descricao;
                document.getElementById('data_vencimento_edit').value = task.data_vencimento;
                document.getElementById('prioridade_edit').value = task.prioridade;
                document.getElementById('categoria_edit').value = task.categoria;

                document.getElementById('container-form-editar').style.display = 'block';

                const formEdit = document.getElementById('form-edit');
                formEdit.action = `/tasks/editar/${taskId}`;

            } catch (error) {
                console.error('Erro ao buscar os dados da tarefa:', error);
                alert('Erro ao carregar os dados da tarefa. Tente novamente.');
            }
        });
    });
});
</script>
